@media (max-width: 767px) {
    .header-page {
        margin-bottom: 3.6rem;
        padding-top: 2rem;
        text-align: center;
    }
    .wrapper {
        width: 32rem;
    }
    .form-list {
        margin-bottom: 11.8rem;
    }
    .hero-title {
        margin-bottom: 2.2rem;
    }
    .section-header {
        margin-bottom: 1.8rem;
    }
    .partners {
        padding-top: 7.2rem;
        padding-bottom: 5.7rem;
    }
    .partners-list {
        margin-bottom: 3rem;
    }
    .partners-list-item:not(:last-child) {
        margin-bottom: 3rem;
    }
}
@media (min-width: 768px) {
    .header-page {
        padding-top: 3.8rem;
        height: 70rem;
    }
    .main-nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 15rem;
    }
    .section-header {
        margin: 0 auto;
        margin-bottom: 3.6rem;
        width: 49rem;
    }
    .hero-title {
        font-size: 5.2rem;
        line-height: 6.2rem;
        margin-bottom: 4rem;
    }
    .hero-subtitle {
        font-size: 2.4rem;
        line-height: 2.8rem;
    }
    .partners {
        padding-top: 7.6rem;
        text-align: center;
    }
    .partners-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 3.8rem; 
    }
    .partners-list-item {
        width: 32.2rem;
    }
}
@media (min-width: 768px) and (max-width: 959px) {
    .wrapper {
        width: 72rem;
    }
    .partners {
        padding-bottom: 4rem;
    }
    .partners-list {
        width: 49.2rem; 
    }
    .partners-list-item {
        flex: 0 0 23.6rem;     
    }
    .partners-list-item:not(:nth-last-child(-n+2)) {
        margin-bottom: 6rem;
    }
}
@media (min-width: 960px) {
    .wrapper {
        width: 94rem;
    }
    .partners {
        padding-bottom: 7.2rem
    }
    .partners-list-item {
        flex: 0 0 22rem;
    }
    .partners-list-item:not(:nth-last-child(-n+4)) {
        margin-bottom: 6rem;
    }
}