html {
    box-sizing: border-box;
}
*,
*::befote,
*::after {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #626262;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 38px 0 15px 0;
}
.header-page {
    margin: 0;
    margin-bottom: 65px;
}
.main-nav {
    display: flex;
    justify-content: space-between;
}
.logo {
    display: block;
    width: 86px;
    height: 24px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center; 
    cursor: pointer;
    transition: transform 0.5s linear;
}
.logo:hover {
    transition: transform 0.5s linear;
    transform: scale(1.2);
}
.menu-list {
    width: 490px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.menu-link {
    display: block;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    color:#95e1d3;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
    transition: color 0.5s linear;
}
.menu-link::after {
    display: block;
    width: 50px;
    height: 3px;
    background-color: #f38181;
    margin: auto;
    margin-top: 5px;
    content: "";
    opacity: 0;
    transition: opacity 0.5s linear;
}
.menu-link:hover::after {
    transition: opacity 0.5s linear;
    opacity: 1;
}
.menu-link:hover,
.menu-link:focus {
    transition: color 0.5s linear;
    color: #f38181;
}
.section-services {
    margin-bottom: 100px;
}
.section-title {
    margin: 0;
    margin-bottom: 60px;
    font-family: Monserrat, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    line-height: 36px;
    display: block;
    text-align: center;
}
.section-title::after {
    width: 60px;
    height: 5px;
    display: block;
    content: "";
    background: #f38181;
    margin: auto;
    margin-top: 40px;

}
.selected {
    font-family: "Kaushan Script";
    font-size: 24px;
    color: #000000;
    line-height: 28px;
    display: block;
    margin-bottom: 20px;
}
.services-title {
    font-family: Monserrat;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}
.services-list-item::before {
    display: inline-block;
    content: "";
    width: 32px;
    height: 32px;
    background-repeat: no-repeat; 
    background-position: center;
    position: absolute;
    top: 0;
    left: 20px;
}
.icon1::before {
    background-image: url(../images/icon-1.png);
}
.icon2::before {
    background-image: url(../images/icon-2.png);
}
.icon3::before {
    background-image: url(../images/icon-3.png);
}
.icon4::before {
    background-image: url(../images/icon-4.png);
}
.icon5::before {
    background-image: url(../images/icon-5.png);
}
.icon6::before {
    background-image: url(../images/icon-6.png);
}
.services-content {
    margin: 0;
}
.services-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services-list-item {
    flex: 0 0 260px;
    padding: 0 40px 0 80px;
    position: relative;
    margin-bottom: 100px;
}
.services-list-item:nth-last-child(-n+3) {
    margin-bottom: 0;
} 
.section-team {
    margin-bottom: 90px;
}
.team-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between; 
}
.team-list-item {
    text-align: center;
    position: relative;
}
.team-list-item:hover .img-overlay,
.team-list-item:focus {
    opacity: 1;
    box-shadow: 3px 2px 5px;
}
.section-descr {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 90px;
    text-align: center;
}
.team-list-item img {
    margin-bottom: 30px;
}
.member-name {
    margin: 0;
    margin-bottom: 20px;
    font-family: Monserrat, sans-serif;
    font-size: 14px;
    color: #000000;
    line-height: 16px;
    text-transform: uppercase;
}
.member-pos {
    margin:  0;
    font-weight: 300;
    font-style: italic;
}
.img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 380px;
    height: 470px;
    background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(253, 227, 138, 0.9));
    position: absolute;
    top: 0;
    cursor: pointer;
}
.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-list-item {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #fce38a;
    border: 1px solid #f38181;
    background-repeat: no-repeat;
    background-position: center;
}
.facebook {
    background-color: #95e1d3;
    background-image: url(../images/facebook.png);
}
.twitter {
    background-image: url(../images/twitter.png);
}
.pinterest {
    background-image: url(../images/pinterest.png);
}
.instagram {
    background-image: url(../images/instagram.png);
}
.footer-page {
    display: flex;
}
.footer-text {
    display: flex;
    align-items: center;
    margin: 0;
    font-family: Monserrat, sans-serif;
    color: #000000;
}
.footer-text a {
    text-decoration: none;
    font-family: Monserrat, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    color: #95e1d3;
    cursor: pointer;
}
.footer-text a:hover,
.footer-text a:focus {
    color: #f38181;
}
.email {
    margin-left: auto;
    flex-basis: 230px;
    height: 36px;
    font-family: Monserrat, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    padding: 0 0 0 10px;
    cursor: pointer;
}
.email:hover,
.email:focus {
    border: 2px solid lightblue;
}
.btn {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #95e1d3;
    color: #ffffff;
    font-family: Monserrat, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    width: 150px;
    height: 40px;
    transition: background-color 0.5s linear;
    cursor: pointer;
}
.btn:hover, 
.btn:focus {
    transition: background-color 0.5s linear;
    background-color: #f38181;
}
