html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: "Open Sans", Arial, sans-serif; 
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #626262;
}
.wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both; 
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.header-page {
    margin: 0;
    margin-bottom: 32px;
    padding-top: 38px;
}
.logo {
    display: inline-block;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
}
.logo:hover {
    color: darkblue;
}
.logo:focus {
    color: darkblue;
}
.logo::first-letter {
    color: #1abc9c;
    font-weight: 700;
}
.menu-list {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}
.menu-list-item {
    float: left;
    margin: 0;
    margin-left: 40px;
}
.menu-list-item:first-child {
    margin-left: 0;
} 
.menu-link { 
    display: block;
    text-decoration: none;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
}
.menu-link:hover {
    color: #1abc9c;
}
.menu-link:focus {
    color: #1abc9c;
}
.slider {
    height: 600px;
    width: auto;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slider-title {
    position: relative;
    height: 600px;
}
.slider-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.slider-descr {
    width: 680px;
    margin: 0;
    margin-bottom: 24px;
    text-transform: capitalize;
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
    color: #ffffff;
}
.text {
    margin: 0;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    color: #ffffff;
}
.btn {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    width: 105px;
    height: 105px;
    background: #4f9c8b;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center; 
    cursor: pointer;
}
.prev {
    left: 15px;
    background-image: url(../images/prev.png);
}
.next {
    right: 15px;
    background-image: url(../images/next.png);
}
.btn:hover {
    background-color: darkblue;
}
.btn:focus {
    background-color: darkblue;
}
.slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.product-list {
    margin: 0;
    padding: 100px 0;
    background-color: #e9f0fd;
}
.section-title {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 90px;

}
.section-title::after {
    display: block;
    width: 160px;
    height: 5px;
    content: "";
    background: #1abc9c;
    margin: 0 auto;
    margin-top: 30px;
}
.section-list {
    margin: 0;
    padding: 0;
    list-style: none; 
}
.section-list-item {
    margin: 0;
    margin-right: 30px;
    float: left;
    position: relative;
    cursor: pointer;
}
.section-list-item:last-child {
    margin-right: 0;
}
.product-descr {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    position: absolute;
    bottom: 0;
}
.product-name,
.product-price {
    float: left;
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
    text-transform: uppercase;
    height: 40px;
    margin: 0;
}
.product-name {
    width: 200px;
    background: #323232;
    padding-left: 15px;
}
.product-price {
    width: 55px;
    background: #8c8c8c;
    text-align: center;
}
.section-list-item:hover .product-name {
    background-color: #1abc9c;
}
.section-list-item:hover .product-price {
    background-color: #7fd9c7;
}
.section-list-item:hover .img-overlay {
    opacity: 1;
}
.section-list-item:focus .product-name {
    background-color: #1abc9c;
}
.section-list-item:focus .product-price {
    background-color: #7fd9c7;
}
.section-list-item:focus .img-overlay {
    opacity: 1;
}
.icon-list {
    width: 170px;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-list-item {
    margin: 0;
    margin-right: 10px;
    margin-bottom: 10px; 
    float: left;
}
.icon-list-item:nth-last-child(-n+2) {
    margin-right: 0;
}
.icon-list-item:last-child {
    margin-bottom: 0;
}
.icon-list-item a {
    display: inline-block;
    margin: 0;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(255, 255, 255); 
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;    
}
.icon1 {
    background-image: url(../images/icon-1.png);
}
.icon2 {
    background-image: url(../images/icon-2.png);
}
.icon3 {
    background-image: url(../images/icon-3.png);
}
.icon-list-item .last {
    width: 170px;
}
.icon-list-item .last .icon4 a {
    background-color: #323232;
    background-image: url(../images/icon-4.png), url(../images/icon-5.png);
    padding: 0 20px;
    background-origin: content-box;
    background-position: left center, right center;
    width: 170px;
}
.icon-list-item a:hover {
    background-color: #1abc9c;
}
.icon-list-item a:focus {
    background-color: #1abc9c;
}
.img-overlay {
    width: 100%;
    height: 282px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 10px solid rgba(255, 255, 255, 0.7);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.footer-page {
    margin: 0;
    height: 90px;
    background-color: #323232;
    text-align: center;
}
.footer-page-text {
    margin: 0;
    line-height: 90px;
    color: #ffffff;
    text-transform: capitalize;
}
.footer-page-text-select {
    color: #1abc9c;
    text-decoration: none;
}
.footer-page-text-select:hover {
    color: navy;
}