.hero-link {
  @extend %link;
  @extend %button;

  border: 2px solid map-get($colors, primary-light);
  line-height: 36px;
  margin: 0 auto;

  &:hover,
  &:focus {
    color: map-get($colors, accent);
    border-color: map-get($colors, accent);
  }
}
