.img-overlay-social {
  @extend %list;

  flex: 0 0 224px;
  align-items: center;
}

.social-item:hover .social-icon {
  fill: map-get($colors, primery-light);
}

.social-link {
  @extend %link;

  @include size(55px, 55px);

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: map-get($colors, accent);
  border: 1px solid map-get($colors, secondary-dark);

  &:hover,
  &:focus {
    background-color: map-get($colors, secondary-light);
  }
}

.social-icon {
  fill: map-get($colors, secondary-dark);

  &:hover,
  &:focus {
    fill: map-get($colors, primery-light);
  }
}

.icon-facebook {
  @include size(12px, 26px);
}

.icon-twitter {
  @include size(26px, 21px);
}

.icon-pinterest {
  @include size(20px, 26px);
}

.icon-instagram {
  @include size(26px, 26px);
}
